<!DOCTYPE html>
<html>

<head>
    <title>
        Welcome to weather app
    </title>
    <link href="style/styles.css" rel="stylesheet" />
    <script src="js/script.js"></script>

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Welcome to the homepage</p>
    </div>
    {{>footer}}
</body>

</html>